<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DC.VPP.Foundation.Core" version="1.1.306.285" targetFramework="net452" />
  <package id="DC.VPP.Messages" version="1.0.284.197" targetFramework="net452" />
  <package id="EasyNetQ" version="0.63.1.451" targetFramework="net452" />
  <package id="EasyNetQ.DI.Ninject" version="0.63.1.451" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net452" />
</packages>